api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - 8080:8080
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-net
    env_file:
      - .env
    environment: # <--- Adicionando bloco de environment
      - MANAGER_URL=https://vizzusolu.duckdns.org/evolution # <--- CORREÇÃO
    expose:
      - 8080
