version: '3.9'

services:
  api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - 8080:8080
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-net
    env_file:
      - .env
    environment:
      - MANAGER_URL=https://evolutionvizzu.duckdns.org/
    expose:
      - 8080

  postgres:
    image: postgres:16
    container_name: evolution_postgres
    restart: always
    environment:
      POSTGRES_USER: user 
      POSTGRES_DB: evolution_db
      POSTGRES_PASSWORD: 1010
    ports:
      - "5433:5432"
    volumes:
      - evolution_postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-net

  redis:
    image: redis:latest
    container_name: evolution_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - evolution-net

volumes:
  evolution_instances:
  evolution_postgres_data:
  
networks:
  evolution-net:
    name: evolution-net
    driver: bridge